* text=auto

/.git* export-ignore
/tests export-ignore
/docs export-ignore
/.sensiolabs.yml export-ignore
/.travis.yml export-ignore
/coverage export-ignore
/phpunit.xml export-ignore
/phpunit-bootstrap.php export-ignore
/sami.php export-ignore
/.php.travis.ini export-ignore
/CONTRIBUTING.md export-ignore
/examples export-ignore