<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2016 Alorel, https://github.com/Alorel
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
  ~ documentation files (the "Software"), to deal in the Software without restriction, including without limitation the
  ~ rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit
  ~ persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
  ~ Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
  ~ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  ~ NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
  ~ DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         colors="true"
         bootstrap="phpunit-bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="true"
         syntaxCheck="true"
         verbose="true"
>

    <testsuites>
        <testsuite name="Parameters">
            <directory>./tests/Parameters</directory>
        </testsuite>
        <testsuite name="OptionBuilder">
            <directory>./tests/OptionBuilder</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>

            <exclude>
                <directory suffix=".php">vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-html" target="coverage"/>
    </logging>

    <php>
        <ini name="xdebug.auto_trace" value="0"/>
        <ini name="xdebug.cli_color" value="1"/>
        <ini name="xdebug.collect_assignments" value="0"/>
        <ini name="xdebug.collect_includes" value="0"/>
        <ini name="xdebug.collect_params" value="0"/>
        <ini name="xdebug.collect_return" value="0"/>
        <ini name="xdebug.collect_vars" value="0"/>
        <ini name="xdebug.coverage_enable" value="1"/>
    </php>
</phpunit>